/* ------- BASE STYLES -------- */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Fira Sans Condensed', sans-serif;
    min-width: 320px;
}

header {
    text-align: center;
}

header h2:first-of-type {
    background-color: rgba(17, 26, 49, 0.856);
    margin-top: 0;
    padding: 30px 0;
    color: white;
}

header p {
    font-size: 1.3em;
    color: gray;
    font-weight: 200;
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

.borderDiv {
    height: 15px;
    width: 90%;
    border-top: 6px solid black;
    border-bottom: 2px solid black;
    margin: 30px auto;
}



form {
    width: 100%;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto;
    width: 90%;
    border-bottom: 3px solid black;
}

label {
    margin: 1em 0;
    font-size: 1.3em;
    font-weight: lighter;
    color: gray;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
#state {
  height: 3em;  
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
  width: 100%;
}

input[placeholder],
input[type="tel"] {
    font-weight: lighter;
    font-size: .9em;
    padding: .5em 1em;  
}


  
legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    font-weight: bold;
}

#zip {
    width: 50%;
}



